@model ShoppingMiddleware.Models.Flutter.FlutterServiceDTOModel.TotalTransactions
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


@{

    int max = 0;
    string revenue = "Revenue: " + Model.totalRevenue.ToString() + "/VNĐ";

    string[] value = new string[] {
        "Customer",
        "Sales",
        "Product",
        // demo:
        "Customer",
        "Sales",
        "Product",
    };

    int[] data = new int[] {
        (int)Model.totalCustomers,
        (int)Model.totalSales,
        (int)Model.totalProduct,
        // demo:
        (int)Model.totalCustomers,
        (int)Model.totalSales,
        (int)Model.totalProduct

    };
}


<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row gy-6">
        <!-- Transactions -->
        <div class="col-lg-16">
            <div class="card h-100">
                <div class="card-header">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="card-title m-0 me-2">Transactions</h5>
                        <div class="dropdown">
                            <button class="btn text-muted p-0"
                                    type="button"
                                    id="transactionID"
                                    data-bs-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <i class="ri-more-2-line ri-24px"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">
                                <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                                <a class="dropdown-item" href="javascript:void(0);">Share</a>
                                <a class="dropdown-item" href="javascript:void(0);">Update</a>
                            </div>
                        </div>
                    </div>
                    <p class="small mb-0"><span class="h6 mb-0">Total 48.5% Growth</span> 😎 this month</p>
                </div>
                <div class="card-body pt-lg-10">
                    <div class="row g-6">
                        <div class="col-md-3 col-6">
                            <div class="d-flex align-items-center">
                                <div class="avatar">
                                    <div class="avatar-initial bg-primary rounded shadow-xs">
                                        <i class="ri-pie-chart-2-line ri-24px"></i>
                                    </div>
                                </div>
                                <div class="ms-3">
                                    <p class="mb-0">Sales complete</p>
                                    <h5 class="mb-0">@Model.totalSales</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="d-flex align-items-center">
                                <div class="avatar">
                                    <div class="avatar-initial bg-success rounded shadow-xs">
                                        <i class="ri-group-line ri-24px"></i>
                                    </div>
                                </div>
                                <div class="ms-3">
                                    <p class="mb-0">Customers</p>
                                    <h5 class="mb-0">@Model.totalCustomers</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="d-flex align-items-center">
                                <div class="avatar">
                                    <div class="avatar-initial bg-warning rounded shadow-xs">
                                        <i class="ri-macbook-line ri-24px"></i>
                                    </div>
                                </div>
                                <div class="ms-3">
                                    <p class="mb-0">Product</p>
                                    <h5 class="mb-0">@Model.totalProduct</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="d-flex align-items-center">
                                <div class="avatar">
                                    <div class="avatar-initial bg-info rounded shadow-xs">
                                        <i class="ri-money-dollar-circle-line ri-24px"></i>
                                    </div>
                                </div>
                                <div class="ms-3">
                                    <p class="mb-0">Revenue</p>
                                    <h5 class="mb-0">@Model.totalRevenue.ToString("N0") / VNĐ</h5>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!--/ Transactions -->
        <div class="row-lg-16"> Biểu đồ sẽ được cập nhật sau ! ＜(´⌯  ̫⌯`)＞ฅ </div>
        <!--/ Data Tables -->
        <div id="ContentBody">
            <style>
                canvas {
                    max-width: 60%;
                    margin-left: 20%;
                    margin-right: 20%;
                }
            </style>

            <!-- chart -->
            <canvas id="myRadarChart"></canvas>
            <!-- chart -->

        </div>
    </div>
</div>

<script>
    const labels = @Html.Raw(JsonConvert.SerializeObject(value));
    const dataValues =  @Html.Raw(JsonConvert.SerializeObject(data));
    const maxValue = @max;
    const revenuelabel = @Html.Raw(JsonConvert.SerializeObject(revenue));
    const ctx = document.getElementById('myRadarChart').getContext('2d');
    const myRadarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [
                {
                    label: revenuelabel,
                    data: dataValues,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(201, 203, 207, 0.2)',
                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)',
                    ],
                },

            ]
        },
        options: {
            responsive: true,
            scales: {
                r: {
                    grid: {
                        color: 'rgba(255, 99, 71, 1)'
                    },
                    ticks: {
                        display: false,
                        beginAtZero: true,
                        max: maxValue,
                        color: 'black'
                    }
                }
            }
        }
    });
</script>